* {
  font-family: Helvetica;
  font-size: 1.4em;
  color: white;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
}

.item {
  width: 100px;
  height: 70px;
}

.container div:nth-child(1), div:nth-child(6) {
  background-color: #00BFB8;
}

.container div:nth-child(2) {
  background-color: #8E007E;
}

.container div:nth-child(3) {
  background-color: #23D0EA;
}

.container div:nth-child(4) {
  background-color: #EF8956;
}

.container div:nth-child(5) {
  background-color: #060A3D;
}
