body {
  font-family: Avenir, sans-serif;
  background-color: black;
  color: white;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

p {
  background-color: #ea0909;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 20px auto;
}